<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.OpenMetaFileTagging</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>29C</string>
	<key>QSActions</key>
	<dict>
		<key>OpenMetaAddTags</key>
		<dict>
			<key>actionClass</key>
			<string>OpenMetaFileTaggingAction</string>
			<key>actionSelector</key>
			<string>addToFiles:tagList:</string>
			<key>description</key>
			<string>Add Tags…</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Add Tags…</string>
		</dict>
		<key>OpenMetaClearTags</key>
		<dict>
			<key>actionClass</key>
			<string>OpenMetaFileTaggingAction</string>
			<key>actionSelector</key>
			<string>clearTagsFromFiles:</string>
			<key>description</key>
			<string>Clear Tags</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>name</key>
			<string>Clear Tags</string>
		</dict>
		<key>OpenMetaRemoveTags</key>
		<dict>
			<key>actionClass</key>
			<string>OpenMetaFileTaggingAction</string>
			<key>actionSelector</key>
			<string>removeFromFiles:tags:</string>
			<key>description</key>
			<string>Remove Tags…</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>OpenMetaTag</string>
			</array>
			<key>name</key>
			<string>Remove Tags…</string>
		</dict>
		<key>OpenMetaSetTags</key>
		<dict>
			<key>actionClass</key>
			<string>OpenMetaFileTaggingAction</string>
			<key>actionSelector</key>
			<string>setToFiles:tagList:</string>
			<key>description</key>
			<string>Set Tags…</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Set Tags…</string>
		</dict>
		<key>OpenMetaShowTags</key>
		<dict>
			<key>actionClass</key>
			<string>OpenMetaFileTaggingAction</string>
			<key>actionSelector</key>
			<string>showTagsForFiles:</string>
			<key>description</key>
			<string>Show Tags</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>name</key>
			<string>Show Tags</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Jordan Kay</string>
		<key>categories</key>
		<array>
			<string>Files</string>
			<string>Search</string>
		</array>
		<key>description</key>
		<string>Support for file tagging with OpenMeta</string>
		<key>extendedDescription</key>
		<string>Provides an interface for adding and removing OpenMeta tags to files, as well as browsing tags and finding all files with a certain tag or tags</string>
		<key>icon</key>
		<string>OpenMetaTagIcon</string>
		<key>relatedBundles</key>
		<array>
			<string>com.ironic.tagit</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetOpenMetaTags</string>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>OpenMetaTagIcon</string>
			<key>name</key>
			<string>OpenMeta Tags</string>
			<key>source</key>
			<string>OpenMetaFileTaggingSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>OpenMetaFileTaggingActionProvider</key>
			<string>OpenMetaFileTaggingActionProvider</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.blacktree.Quicksilver.OpenMetaFileTagging</key>
			<string>OpenMetaFileTaggingSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>OpenMetaTag</key>
			<string>OpenMetaFileTaggingSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>OpenMetaFileTaggingSource</key>
			<string>OpenMetaFileTaggingSource</string>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>NSFilenamesPboardType</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>File</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>obsoletes</key>
		<array>
			<string>com.blacktree.Quicksilver.OpenMetaFileTagging</string>
		</array>
		<key>version</key>
		<string>3926</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>OpenMetaTagIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.qsapp.OpenMetaFileTagging</string>
			<key>resource</key>
			<string>OpenMetaLogoIcon.png</string>
		</dict>
	</dict>
</dict>
</plist>
